<!--<html>
    <p>Hi there!</p>
    <p>It works!</p>
</html>-->

<html>
    <head>
        <title>Ivana's blog</title>
    </head>
    
    <body>
        <div>
            <h1><a href="">The first blog I made</a></h1>
        </div> 

        <div>

            <p>published: 24.09.2016, 15:00</p>
            <h2><a href="">My first post</a></h2>
            <p>In dui magna, posuere eget, vestibulum et, tempor auctor, justo. In ac felis quis tortor malesuada pretium. Pellentesque auctor neque nec urna. Proin sapien ipsum, porta a, auctor quis, euismod ut, mi. Aenean viverra rhoncus pede. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut non enim eleifend felis pretium feugiat. Vivamus quis mi. Phasellus a est. Phasellus magna.</p>
        </div>

        <div>
            <p>published:24.09.2016. 15:10</p>
            <h2><a href=""> My second post</a></h2>
            <p>In hac habitasse platea dictumst. Curabitur at lacus ac velit ornare lobortis. Curabitur a felis in nunc fringilla tristique. Morbi mattis ullamcorper velit. Phasellus gravida semper nisi. Nullam vel sem. Pellentesque libero tortor, tincidunt et, tincidunt eget, semper nec, quam. Sed hendrerit.</p>
        </div>
    </body>
</html>